.button{
  text-align:center;
  margin:auto;
  padding-top: 30px;
}
/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
