.footer {
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  height: auto;
  min-height: 60px;
  background-color: $footer-bg;
  color: $footer-font;

  & container-fluid {
    margin: 0 auto;
  }
  & a:link, & a:visited {
      color: $footer-font-link;
      text-decoration: none;
  }
  & a:hover, & a:active {
      color: $footer-font-hover;
      text-decoration: none;
  }
  & li {
    list-style: none;
  }
  & hr {
    margin: 10px auto;
    width: 60%;
    border-color: $footer-hr;
  }
}
