<div class="container-fluid">
  <div class="footer-distributed">
    <div class="footer-right">
      <a href="https://www.facebook.com/eventinary/"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/eventinary/"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="footer-left">
      <p class="footer-links">
        <a href="https://eventinary.herokuapp.com/">Home</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>
      <p>Eventinary &copy; 2017</p>
    </div>
  </div>
</div>
