<div class="card" url('http://res.cloudinary.com/serendipity/image/upload/<%= event.searchable.image.path %>'), style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
  <div class="card-category">Event</div>
  <div class="card-description">
    <h2><%= event.searchable.title %></h2>
    <p><%= event.searchable.address %></p>
  </div>

  <%= link_to "More", event_path(event) %>
</div>
