<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/serendipity/image/upload/<%= event.image.path %>');">
  <div class="card-category">Event</div>
  <div class="card-description">
    <h2><%= event.title %></h2>
    <p><%= event.address %></p>
  </div>

  <%= link_to "More", event_path(event) %>
</div>
