<div class="banner">
  <div class="banner-content">
    <h1>Eventinary: Events Evolved</h1>
    <p>For the events that favor attendees</p>
    <a class="btn btn-primary btn-lg">Sign-Ùp</a>
  </div>
</div>
<hr>
