<div class="container">
<h1>Join an Event</h1>
  <ul>
    <li>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <%= render @public_events %>
        </div>
      </div>
    </li>
  </ul>
  </div>
