<div class="container">
<h1>Join an Event</h1>
  <ul>
    <li>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <% @public_events.each do |pe| %>
          <%= render "events/event", event: pe %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
  </div>
