<div class="container">
<h1>Attend an event</h1>
  <ul>
    <li>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <% if params[:search] %>
            <% @public_events.each do |pe| %>
             <% if pe.searchable.public %>
              <%= render "pages/event", event: pe %>
            <% end %>
            <% end %>
          <% else %>
            <%= render "banner" %>
            <% @public_events.each do |pe| %>
            <%= render "events/event", event: pe %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
   </ul>
  </div>
