<%= render 'layouts/index-banner' %>

<div class="row">
  <div class="col-cs-12">
    OPEN EVENTS
  </div>
</div>
<div class="row">
  <div class="col-cs-12">
    PARTNERSHIP
  </div>
</div>
<div class="row">
  <div class="col-cs-12">
    USER FEEDBACK
  </div>
</div>
