@import "form";

.events-page {
  & .col-md-4 .fixed-bottom {
    position: relative;
  }
  & .col-xs-12 .fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  & .container-fluid {
    position: relative;
    border: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}

.events-confirm-page {
  margin-top: 350px;
}

.events-sucess-page {
  min-height: 100vh;
  padding-top: 180px;
  text-align: center;
  h1 {
    font-size: 100px;
  }
}
