.btn-treehouse {
  padding: 10px 15px;
  border-radius: 2px;
  transition: background 0.3s ease;
  margin: 10px 0;

  &:hover {
    opacity: 1;
    color: white;
  }
}
.sticky-to-bottom-button {
  color: white;
  font-size: 18pt;
  padding: 15px 0;
  position: relative;
  width: 100%;
  z-index: 20;

  &:link, &:visited {
    color: #white;
    background: #42A046;
    border-color: #358739;
  }
  &:hover, &:active {
    color: white;
    background: #AED581;
  }
}

.btn-submit {
  width: 100%;
  font-size: 16px;
}

.btn-white {
  background-color: white;
  border: 1px solid #ddd;
  transition: all 200ms ease;

  a {
    color: grey;
    &:hover {
      color: grey;
    }
  }

  &:hover {
    border: 1px solid #ddd;
    background-color: #eee;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
  .btn-treehouse {
    border-radius: 0px;
    margin: 0;
  }
  .sticky-to-bottom-button{
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px){
  .btn-treehouse {
    border-radius: 0px;
    margin: 0;
  }
  .sticky-to-bottom-button{
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
