.money-form {
  position:relative;

  &::before {
    content: "\25AE";
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:0;
 }
}

.control-label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.form-control {
  height: 45px;
}
