@import "alert";
@import "avatars";
@import "badges";
@import "banner";
@import "ribbon";
@import "buttons";
@import "card";
@import "collection";

.text-center {
  text-align: center;
}.text-left {
  text-align: left;
}.text-right {
  text-align: right;
}
