.ribbon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
  width: 200px;
  height: 200px;
  text-align: right;
}
.ribbon span {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 200px;
  display: block;
  background: #8BC34A;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 40px;
  right: -40px;
}
