$ticket-border: 5px dashed rgba(#000000,0.2);

.ticket {
  background-color: white;
  margin: -150px auto 0;
  position: relative;
  box-shadow: 0px -60px 0px 0px white;
  border-radius: 5px;
  padding-bottom: 20px;
  .row {
    padding: 0 40px;
  }
}

.social-share-button {
  width: 100%;
  padding-top: 20px;
}
