@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootsy";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "events/index";
@import "vendor/index";


//sign-up and login forms
.authentication-container {
  background-color: #ffffff;
  padding: 30px;
  padding-top: 10 0 10 0;
  margin-top: 60px;
  border-radius: 4px;
  border: 1px solid #d2d6df;
}

.wrapper-sign-up-notification {
  background-color: #F7F7F7;
  margin-top: 1px;
}

//social-share-button
.social-share-button {
  .ssb-icon {
    background-size: 30px 30px;
    height: 50px;
    width: 50px;
  }
}

//signin/up homepage padding
.container {
  padding-bottom: 50px;
}

