@import "bootstrap-sprockets";
@import "bootstrap";

@import "variables/index";

@import "layouts/index";

// Defaults
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
