<section class="organizations-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">

        <h2>Edit Organization</h2>

        <%= render 'form', organization: @organization %>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <%= link_to 'Show', @organization %> | <%= link_to 'Back', organizations_path %>
      </div>
    </div>

  </div>
</section>
